<template>
    <div class="mahjong_tile" v-bind:class="tileClasses">
        <div class="mahjong_tile__foreground"></div>
    </div>
</template>
<style lang="scss">
    .mahjong_tile {
        background-image: url('/riichi-mahjong-tiles-master/Regular/Front.svg');
        background-size: 54px 72px;
        width: 54px;
        height: 72px;
        position: relative;
        display: inline-block;
        margin: 0 1px;

        .mahjong_tile__foreground {
            position: absolute;
            background-image: url('/riichi-mahjong-tiles-master/Regular/Blank.svg');
            background-size: 48px 64px;
            left: 3px;
            right: 3px;
            top: 4px;
            bottom: 4px;
        }

        &.mahjong_tile--small {
            width: 42px;
            height: 56px;
            background-size: 42px 56px;

            .mahjong_tile__foreground {
                background-size: 36px 48px;
            }
        }
    }


    .mahjong_tile.mahjong_tile--wind_east .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Ton.svg'); }
    .mahjong_tile.mahjong_tile--wind_south .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Nan.svg'); }
    .mahjong_tile.mahjong_tile--wind_west .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Shaa.svg'); }
    .mahjong_tile.mahjong_tile--wind_north .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pei.svg'); }

    .mahjong_tile.mahjong_tile--dragon_red .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Chun.svg'); }
    .mahjong_tile.mahjong_tile--dragon_white .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Haku.svg'); }
    .mahjong_tile.mahjong_tile--dragon_green .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Hatsu.svg'); }

    .mahjong_tile.mahjong_tile--man_1 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man1.svg'); }
    .mahjong_tile.mahjong_tile--man_2 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man2.svg'); }
    .mahjong_tile.mahjong_tile--man_3 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man3.svg'); }
    .mahjong_tile.mahjong_tile--man_4 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man4.svg'); }
    .mahjong_tile.mahjong_tile--man_5 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man5.svg'); }
    .mahjong_tile.mahjong_tile--man_5d .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man5-Dora.svg'); }
    .mahjong_tile.mahjong_tile--man_6 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man6.svg'); }
    .mahjong_tile.mahjong_tile--man_7 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man7.svg'); }
    .mahjong_tile.mahjong_tile--man_8 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man8.svg'); }
    .mahjong_tile.mahjong_tile--man_9 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Man9.svg'); }

    .mahjong_tile.mahjong_tile--pin_1 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin1.svg'); }
    .mahjong_tile.mahjong_tile--pin_2 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin2.svg'); }
    .mahjong_tile.mahjong_tile--pin_3 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin3.svg'); }
    .mahjong_tile.mahjong_tile--pin_4 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin4.svg'); }
    .mahjong_tile.mahjong_tile--pin_5 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin5.svg'); }
    .mahjong_tile.mahjong_tile--pin_5d .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin5-Dora.svg'); }
    .mahjong_tile.mahjong_tile--pin_6 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin6.svg'); }
    .mahjong_tile.mahjong_tile--pin_7 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin7.svg'); }
    .mahjong_tile.mahjong_tile--pin_8 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin8.svg'); }
    .mahjong_tile.mahjong_tile--pin_9 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Pin9.svg'); }

    .mahjong_tile.mahjong_tile--bamboo_1 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou1.svg'); }
    .mahjong_tile.mahjong_tile--bamboo_2 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou2.svg'); }
    .mahjong_tile.mahjong_tile--bamboo_3 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou3.svg'); }
    .mahjong_tile.mahjong_tile--bamboo_4 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou4.svg'); }
    .mahjong_tile.mahjong_tile--bamboo_5 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou5.svg'); }
    .mahjong_tile.mahjong_tile--bamboo_5d .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou5-Dora.svg'); }
    .mahjong_tile.mahjong_tile--bamboo_6 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou6.svg'); }
    .mahjong_tile.mahjong_tile--bamboo_7 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou7.svg'); }
    .mahjong_tile.mahjong_tile--bamboo_8 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou8.svg'); }
    .mahjong_tile.mahjong_tile--bamboo_9 .mahjong_tile__foreground { background-image: url('/riichi-mahjong-tiles-master/Regular/Sou9.svg'); }
</style>
<script lang="ts">
    import Vue from 'vue';
    import {Component, Prop} from "vue-property-decorator";

    import Tile, {TColor, TNumber} from "@/lib/mahjong/model/Tile";

    @Component
    export default class MahjongTile extends Vue {

        @Prop({default: 'pin'})
        color!: TColor;

        @Prop({default: '1'})
        number!: TNumber;

        @Prop({default: false})
        red!: boolean;

        @Prop({default: null})
        tile!: Tile | null;

        @Prop({default: 'normal'})
        size!: 'normal' | 'smaller';

        get tileClasses() {
            let colorToUse: TColor = this.color;
            let numberToUse: TNumber = this.number;
            let redToUse: boolean = this.red;

            if (this.tile !== null) {
                colorToUse = this.tile.tileColor;
                numberToUse = this.tile.tileNumber;
                redToUse = this.tile.isRedFive;
            }

            let result: {[key: string]: boolean} = {};

            let foregroundPictureModifier: string =
                'mahjong_tile--'
                + colorToUse
                + '_'
                + numberToUse
                + (redToUse ? 'd' : '');

            result[foregroundPictureModifier] = true;
            result['mahjong_tile--small'] = this.size !== 'normal';

            return result;
        }
    }
</script>