<template>
    <div v-bind:class="{'mahjong_tiles': true, 'mahjong_tiles--tiles_deleteable': allowRemove}">
        <div class="mahjong_tiles__row">
            <mahjong-tile
                v-for="(tile, index) of tiles"
                v-bind:key="index"
                v-bind:tile="tile"
                v-bind:eventId="index"
                v-on:click.native="removeTile(tile)"
            />
        </div>
    </div>
</template>
<style lang="scss">
    @import '../../../assets/sass/colors';
    @import '../../../assets/sass/fonts';

    .mahjong_tiles {
        box-sizing: border-box;
        display: block;
        border: 2px solid black;
        border-radius: 5px;
        padding: 5px 0px;
        vertical-align: middle;
        text-align: center;

        .mahjong_tiles__row {
            display: block;
            height: 72px;
            line-height: 72px;
            white-space: nowrap;
        }

        &.mahjong_tiles--tiles_deleteable .mahjong_tile:after {
            content: 'X';
            position: absolute;
            top: -8px;
            right: -8px;
            display: block;
            height: 16px;
            width: 16px;
            border-radius: 8px;
            font-size: 12px;
            font-weight: bold;
            line-height: 16px;
            color: white;
            z-index: 1;
            text-align: center;
            background: red;
            @extend %font-normal;
        }

        &.mahjong_tiles--tiles_invalid {
            background: red;
        }

        &.mahjong_tiles--tiles_valid {
            background: green;
        }

        &.mahjong_tiles--tiles_incomplete {
            background: transparent;
        }
    }
</style>
<script lang="ts">
    import Vue from "vue";
    import MahjongTile from "./MahjongTile.vue";
    import {Component, Prop} from "vue-property-decorator";
    import Tile from "@/lib/mahjong/model/Tile";

    @Component({
        components: {MahjongTile}
    })
    export default class MahjongTiles extends Vue {

        @Prop({})
        eventId!: string;

        @Prop({default: () => { return []; }})
        tiles!: Array<Tile>;

        @Prop({default: null})
        minTiles!: number | null;

        @Prop({default: null})
        maxTiles!: number | null;

        @Prop({default: false})
        allowRemove!: boolean;

        tileLengthWithinLimitsOnPreviousCycle: boolean = false;

        removeTile(tileToRemove: Tile): void {
            if (!this.allowRemove) {
                return;
            }

            this.$emit('removeTile', [{eventId: this.eventId, tile: tileToRemove}]);
        }

        beforeUpdate(): void {
            if (this.maxTiles !== null && this.tiles.length > this.maxTiles) {
                this.$emit('rejectTile', [this.tiles[this.tiles.length - 1]]);
            }
        }
    }
</script>