<template>
    <div v-if="result !== null" class="mahjong_result">
        <div class="mahjong_result__mini_points">
            <h3 class="mahjong_result__header">{{language.get('CALCULATOR_RESULT_MINI_POINTS')}}</h3>
            <table class="mahjong_result__table">
                <tr v-for="(miniPoint, index) of result.miniPoints" v-bind:key="index">
                    <td class="mahjong_result__table__description">{{language.get(miniPoint.getType())}}</td>
                    <td class="mahjong_result__table__score">{{miniPoint.getScore()}}</td>
                </tr>
                <tr v-if="result.totalMiniPointsScore !== result.totalMiniPointsScoreRounded">
                    <td class="mahjong_result__table__description">{{language.get('CALCULATOR_RESULT_ROUNDED')}}</td>
                    <td class="mahjong_result__table__score">{{result.totalMiniPointsScoreRounded - result.totalMiniPointsScore}}</td>
                </tr>
                <tr class="mahjong_result__table__sum">
                    <td>&nbsp;</td>
                    <td class="mahjong_result__table__sum__score">
                        {{result.totalMiniPointsScoreRounded}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="mahjong_result__winning_points">
            <h3 class="mahjong_result__header">{{language.get('CALCULATOR_RESULT_WINNING_POINTS')}}</h3>
            <table class="mahjong_result__table">
                <tr v-for="(winningPoint, index2) of result.winningPoints" v-bind:key="index2">
                    <td class="mahjong_result__table__description">{{language.get(winningPoint.getType())}}</td>
                    <td class="mahjong_result__table__score">{{winningPoint.getScore()}}</td>
                </tr>
                <tr class="mahjong_result__table__sum">
                    <td>&nbsp;</td>
                    <td class="mahjong_result__table__sum__score">{{result.totalWinningPointsScore}}</td>
                </tr>
            </table>
        </div>
        <div class="mahjong_result__total_score">
            <h3 class="mahjong_result__header">{{language.get('CALCULATOR_RESULT_TOTAL')}}</h3>
            <span v-if="!selfDrawn">
                <span class="mahjong_result_total_score_subheader">{{language.get('CALCULATOR_RESULT_OTHER_DRAWN')}}</span>
                <span v-if="asEast" class="mahjong_result__total_score_score">{{result.sumOtherDrawnAsEast}}</span>
                <span v-if="!asEast" class="mahjong_result__total_score_score">{{result.sumOtherDrawnAsNonEast}}</span>
            </span>
            <span v-if="selfDrawn">
                <span class="mahjong_result_total_score_subheader">{{language.get('CALCULATOR_RESULT_SELF_DRAWN')}}</span>
                <span v-if="asEast" class="mahjong_result__total_score_score">
                    <span class="mahjong_result__total_score_note">{{language.get('CALCULATOR_RESULT_AGAINST_ALL')}}</span>
                    {{result.sumSelfDrawnAsAndAgainstOther}}
                </span>
                <span v-if="!asEast" class="mahjong_result__total_score_score">
                    <span class="mahjong_result__total_score_note">{{language.get('CALCULATOR_RESULT_AGAINST_EAST')}}</span>
                    {{result.sumSelfDrawnAsAndAgainstOther}}<br />
                    <span class="mahjong_result__total_score_note">{{language.get('CALCULATOR_RESULT_AGAINST_OTHER')}}</span>
                    {{result.sumSelfDrawnAsOrAgainstEast}}
                </span>
            </span>
        </div>
    </div>
</template>
<style lang="scss">
    @import '../../../assets/sass/colors';
    @import '../../../assets/sass/fonts';

    .mahjong_result {
        display: grid;
        grid-template-columns: auto 20px auto;
        grid-template-rows: 33% 33% 33%;

        .mahjong_result__header {
            margin: 0 0 10px 0;
            @extend %font--xxl;
            color: $color-dark;
        }

        .mahjong_result__mini_points {
            grid-row: 1;
            grid-column: 1;
        }

        .mahjong_result__winning_points {
            grid-row: 1;
            grid-column: 3;
        }

        .mahjong_result__yakuman_points {
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: 4;
        }

        .mahjong_result__total_score {
            grid-row: 3;
            grid-column-start: 1;
            grid-column-end: 4;

            h3 {
                margin-top: 20px;
            }

            .mahjong_result_total_score_subheader {
                @extend %font--l;
                color: $color-dark;
                text-align: left;
                display: block;
            }

            .mahjong_result__total_score_score {
                @extend %font--xxl;
                color: $color-dark;
                text-align: center;
            }

            .mahjong_result__total_score_note {
                @extend %font--l;
                color: $color-dark;
                text-align: center;
            }
        }

        .mahjong__result__rounded-hint {
            @extend %font--xl;
            color: $color-dark;
        }

        .mahjong_result__table {
            margin: 0 auto;
            width: 100%;

            * {
                margin: 0;
            }

            .mahjong_result__table__description {
                @extend %font--xl;
                color: $color-dark;
                text-align: left;
            }

            .mahjong_result__table__score {
                @extend %font--l;
                color: $color-dark;
                text-align: right;
            }

            .mahjong_result__table__sum {
                @extend %font--l;
                color: $color-dark;
                font-weight: bold;

                .mahjong_result__table__sum__score {
                    border-top: 1px solid black;
                    text-align: right;
                }

                .mahjong_result__table__sum__label {
                    border-top: 1px solid black;
                    text-align: left;
                }
            }
        }
    }

</style>
<script lang="ts">
    import Vue from "vue";

    import {Component, Prop} from "vue-property-decorator";

    import Score from "@/lib/mahjong/model/Score";
    import Language from "@/assets/i18n/Language";

    @Component({})
    export default class MahjongResult extends Vue {
        language: Language = Language.getInstance();

        @Prop({default: true})
        asEast!: boolean;

        @Prop({default: true})
        selfDrawn!: boolean;

        @Prop({default: null})
        result!: Score | null;
    }

</script>