<template>
    <div class="tile-keyboard">
        <table class="tile-keyboard__table">
            <tr class="tile-keyboard__table__row">
                <td class="tile-keyboard__table__row__cell" v-for="(numberInfo, index) in tiles[0].numbers" :key="index">
                    <mahjong-tile v-if="numberInfo.tiles.length > 0" v-bind:class="qtyClass(numberInfo.tiles.length)" v-bind:tile="numberInfo.tiles[0]" v-on:click.native="sendFirstTile(numberInfo.tiles)"></mahjong-tile>
                    <mahjong-tile v-if="numberInfo.tiles.length === 0" v-bind:color="tiles[0].colorName" v-bind:number="numberInfo.number" v-bind:red="numberInfo.isRed" class="mahjong_tile--disabled"></mahjong-tile>
                </td>
            </tr>
            <tr>
                <td class="tile-keyboard__table__row__cell" v-for="(numberInfo, index2) in tiles[1].numbers" :key="index2  + 100">
                    <mahjong-tile v-if="numberInfo.tiles.length > 0" v-bind:class="qtyClass(numberInfo.tiles.length)" v-bind:tile="numberInfo.tiles[0]" v-on:click.native="sendFirstTile(numberInfo.tiles)"></mahjong-tile>
                    <mahjong-tile v-if="numberInfo.tiles.length === 0" v-bind:color="tiles[1].colorName" v-bind:number="numberInfo.number" v-bind:red="numberInfo.isRed" class="mahjong_tile--disabled"></mahjong-tile>
                </td>
            </tr>
            <tr>
                <td class="tile-keyboard__table__row__cell" v-for="(numberInfo, index3) in tiles[2].numbers" :key="index3 + 200">
                    <mahjong-tile v-if="numberInfo.tiles.length > 0" v-bind:class="qtyClass(numberInfo.tiles.length)" v-bind:tile="numberInfo.tiles[0]" v-on:click.native="sendFirstTile(numberInfo.tiles)"></mahjong-tile>
                    <mahjong-tile v-if="numberInfo.tiles.length === 0" v-bind:color="tiles[2].colorName" v-bind:number="numberInfo.number" v-bind:red="numberInfo.isRed" class="mahjong_tile--disabled"></mahjong-tile>
                </td>
            </tr>
            <tr>
                <td class="tile-keyboard__table__row__cell" v-for="(numberInfo, index4) in tiles[3].numbers" :key="index4 + 300">
                    <mahjong-tile v-if="numberInfo.tiles.length > 0" v-bind:class="qtyClass(numberInfo.tiles.length)" v-bind:tile="numberInfo.tiles[0]" v-on:click.native="sendFirstTile(numberInfo.tiles)"></mahjong-tile>
                    <mahjong-tile v-if="numberInfo.tiles.length === 0" v-bind:color="tiles[3].colorName" v-bind:number="numberInfo.number" v-bind:red="numberInfo.isRed" class="mahjong_tile--disabled"></mahjong-tile>
                </td>
                <td>
                    &nbsp;
                </td>
                <td class="tile-keyboard__table__row__cell" v-for="(numberInfo, index5) in tiles[4].numbers" :key="index5 + 400">
                    <mahjong-tile v-if="numberInfo.tiles.length > 0" v-bind:class="qtyClass(numberInfo.tiles.length)" v-bind:tile="numberInfo.tiles[0]" v-on:click.native="sendFirstTile(numberInfo.tiles)"></mahjong-tile>
                    <mahjong-tile v-if="numberInfo.tiles.length === 0" v-bind:color="tiles[4].colorName" v-bind:number="numberInfo.number" v-bind:red="numberInfo.isRed" class="mahjong_tile--disabled"></mahjong-tile>
                </td>
            </tr>
        </table>
    </div>
</template>
<style lang="scss">
    @import '../../../assets/sass/colors';
    @import '../../../assets/sass/fonts';

    .tile-keyboard {
        .tile-keyboard__table {
            width: 100%;

            .tile-keyboard__table__row {
                width: 100%;
            }
        }

        .mahjong_tile--qty1:after { content: 'x1'; }
        .mahjong_tile--qty2:after { content: 'x2'; }
        .mahjong_tile--qty3:after { content: 'x3'; }
        .mahjong_tile--qty4:after { content: 'x4'; }

        .mahjong_tile--qty1:after, .mahjong_tile--qty2:after, .mahjong_tile--qty3:after, .mahjong_tile--qty4:after {
            background: blue;
            position: absolute;
            top: -8px;
            right: -8px;
            display: block;
            height: 16px;
            width: 16px;
            border-radius: 8px;
            font-size: 12px;
            font-weight: bold;
            line-height: 16px;
            color: white;
            @extend %font-normal;
            text-align: center;

        }

        .mahjong_tile--disabled {
            opacity: 0.3;
        }
    }
</style>
<script lang="ts">
    import Vue from 'vue';
    import {Component, Prop} from 'vue-property-decorator';

    import MahjongTile from "@/views/calculator/widget/MahjongTile.vue";
    import TileLibrary, {TTilesOfColor} from "@/lib/mahjong/service/TileLibrary";
    import Tile from "@/lib/mahjong/model/Tile";

    @Component({
        components: {
            MahjongTile
        }
    })
    export default class TileKeyboard extends Vue {

        @Prop({default: []})
        public tiles!: Array<TTilesOfColor>;

        public sendFirstTile(tiles: Array<Tile>) {
            if (tiles.length === 0) {
                return;
            }
            this.$emit('tileKeyboardSelection', [tiles[0]]);
        }

        public qtyClass(qty: number): {[className: string]: boolean} {
            return {
                'mahjong_tile--qty1': qty === 1,
                'mahjong_tile--qty2': qty === 2,
                'mahjong_tile--qty3': qty === 3,
                'mahjong_tile--qty4': qty === 4,
            };
        }
    }
</script>