<template>
    <div class="winning-hands-page">
        <div class="winning-hands-page__content">
            <div class="winning-hands-page__section">
                <h2>{{language.get('WINNING_HANDS_FLUSH_HEADER')}}</h2>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_FLUSH_HALF_FLUSH_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="bamboo" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="4" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="8" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="8" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="8" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="wind" number="north" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="north" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="north" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_FLUSH_HALF_FLUSH_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        2 {{language.get('WINNING_HANDS_POINTS')}} {{language.get('WINNING_HANDS_POINTS_PLUS_IF_CLOSED')}}
                    </p>
                </div>
                <span class="winning-hands-page__section__mid">{{language.get('WINNING_HANDS_OR')}}</span>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_FLUSH_FULL_FLUSH_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="pin" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="3" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="4" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="pin" number="7" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="8" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="9" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="pin" number="8" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="8" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="8" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="pin" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="pin" number="4" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_FLUSH_FULL_FLUSH_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        5 points (+1 if closed)
                    </p>
                </div>
            </div>

            <div class="winning-hands-page__section">
                <h2>{{language.get('WINNING_HANDS_TILE_TYPE_HEADER')}}</h2>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TILE_TYPE_ALL_SIMPLE_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="pin" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="3" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="4" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="true" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="6" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="7" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="8" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="6" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="7" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="pin" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="5" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TILE_TYPE_ALL_SIMPLE_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        1 {{language.get('WINNING_HANDS_POINT')}} {{language.get('WINNING_HANDS_POINTS_CLOSED')}}
                    </p>
                </div>
                <span class="winning-hands-page__section__mid">{{language.get('WINNING_HANDS_OR')}}</span>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TILE_TYPE_TERMINAL_OR_HONOR_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="pin" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="9" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="9" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="9" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="wind" number="north" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="north" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TILE_TYPE_TERMINAL_OR_HONOR_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        1 {{language.get('WINNING_HANDS_POINT')}} {{language.get('WINNING_HANDS_POINTS_PLUS_IF_CLOSED')}}
                    </p>
                </div>
                <span class="winning-hands-page__section__mid">{{language.get('WINNING_HANDS_OR')}}</span>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TILE_TYPE_TERMINAL_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="pin" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="9" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="9" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="9" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="pin" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="1" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TILE_TYPE_TERMINAL_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        2 {{language.get('WINNING_HANDS_POINTS')}} {{language.get('WINNING_HANDS_POINTS_PLUS_IF_CLOSED')}}
                    </p>
                </div>
            </div>

            <div class="winning-hands-page__section">
                <h2>{{language.get('WINNING_HANDS_STREET_BASED_HEADER')}}</h2>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_STREET_BASED_ONE_TWIN_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="true" size="small" />
                        <mahjong-tile color="bamboo" number="6" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_STREET_BASED_ONE_TWIN_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        1 {{language.get('WINNING_HANDS_POINT')}} {{language.get('WINNING_HANDS_POINTS_CLOSED')}}
                    </p>
                </div>
                <span class="winning-hands-page__section__mid">{{language.get('WINNING_HANDS_OR')}}</span>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_STREET_BASED_TWO_TWINS_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="pin" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="6" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="pin" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="5" v-bind:red="true" size="small" />
                        <mahjong-tile color="pin" number="6" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="bamboo" number="8" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="8" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_STREET_BASED_TWO_TWINS_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        3 {{language.get('WINNING_HANDS_POINTS')}} {{language.get('WINNING_HANDS_POINTS_CLOSED')}}
                    </p>
                </div>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_STREET_BASED_THREE_STREETS_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="pin" number="3" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="5" v-bind:red="true" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="3" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="3" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="9" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="9" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="9" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="wind" number="south" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="south" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_STREET_BASED_THREE_STREETS_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        1 {{language.get('WINNING_HANDS_POINT')}} {{language.get('WINNING_HANDS_POINTS_PLUS_IF_CLOSED')}}
                    </p>
                </div>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_STREET_BASED_BIG_STREET_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="6" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="7" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="8" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="9" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="9" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="9" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="9" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="pin" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="2" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_STREET_BASED_BIG_STREET_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        1 {{language.get('WINNING_HANDS_POINT')}} {{language.get('WINNING_HANDS_POINTS_PLUS_IF_CLOSED')}}
                    </p>
                </div>
            </div>

            <div class="winning-hands-page__section">
                <h2>{{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_HEADER')}}</h2>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_ALL_TRIPLETS_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="true" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="pin" number="6" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="6" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="6" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_ALL_TRIPLETS_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        2 {{language.get('WINNING_HANDS_POINTS')}}
                    </p>
                </div>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_ALL_TRIPLETS_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="true" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="pin" number="6" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="6" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="6" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_ALL_TRIPLETS_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        2 {{language.get('WINNING_HANDS_POINTS')}}
                    </p>
                </div>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_THREE_CLOSED_TRIPLETS_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="5" v-bind:red="true" size="small" />
                        <mahjong-tile color="man" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="wind" number="north" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="north" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="north" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="pin" number="3" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_THREE_CLOSED_TRIPLETS_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        2 {{language.get('WINNING_HANDS_POINTS')}}
                    </p>
                </div>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_THREE_EQUAL_TRIPLETS_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="pin" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="1" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="man" number="3" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="dragon" number="green" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="green" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_THREE_EQUAL_TRIPLETS_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        2 {{language.get('WINNING_HANDS_POINTS')}}
                    </p>
                </div>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_THREE_KANS_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="true" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        &nbsp;
                        ...
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TRIPLET_QUAD_BASED_THREE_KANS_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        2 {{language.get('WINNING_HANDS_POINTS')}}
                    </p>
                </div>
            </div>

            <div class="winning-hands-page__section">
                <h2>{{language.get('WINNING_HANDS_OTHER_BASED_HEADER')}}</h2>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TRIPLET_OTHER_BASED_NO_MINIPOINTS_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="3" v-bind:red="false" size="small" />
                        <mahjong-tile color="man" number="4" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="true" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="pin" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="pin" number="2" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="3" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="4" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="5" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="man" number="1" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TRIPLET_OTHER_BASED_NO_MINIPOINTS_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        1 {{language.get('WINNING_HANDS_POINT')}} {{language.get('WINNING_HANDS_POINTS_CLOSED')}}
                    </p>
                </div>
                <div class="winning-hands-page__section__element">
                    <h3>{{language.get('WINNING_HANDS_TRIPLET_OTHER_BASED_LITTLE_THREE_DRAGONS_HEADER')}}</h3>
                    <div class="wining-hands-page__section__element__display">
                        <mahjong-tile color="dragon" number="green" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="green" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="green" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="red" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="bamboo" number="1" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="2" v-bind:red="false" size="small" />
                        <mahjong-tile color="bamboo" number="3" v-bind:red="false" size="small" />
                        &nbsp;
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        <mahjong-tile color="wind" number="east" v-bind:red="false" size="small" />
                        &nbsp;
                        &nbsp;
                        <mahjong-tile color="dragon" number="white" v-bind:red="false" size="small" />
                        <mahjong-tile color="dragon" number="white" v-bind:red="false" size="small" />
                    </div>
                    <p class="winning-hands-page__section__description">
                        {{language.get('WINNING_HANDS_TRIPLET_OTHER_BASED_LITTLE_THREE_DRAGONS_DESCRIPTION')}}
                    </p>
                    <p class="winning-hands-page__section__score">
                        2 {{language.get('WINNING_HANDS_POINTS')}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
    @import '../assets/sass/colors';
    @import '../assets/sass/fonts';
    @import '../assets/sass/page-common';

    .winning-hands-page {
        @extend %page-common;

        .winning-hands-page__section {
            padding-bottom: 10px;
            margin-bottom: 10px;

            .winning-hands-page__section__mid {
                text-align: center;
                margin: 10px 0;
                color: $color-dark;
                @extend %font--xl;
                display: block;
            }

            .winning-hands-page__section__element {
                margin-bottom: 10px;
                padding: 10px;
                background: $color-background-alt;

                h3 {
                    @extend %font--xl;
                    color: $color-dark;
                    margin: 0 0 10px 0;
                }

                .wining-hands-page__section__element__display {
                    white-space: nowrap;
                    font-size: 1.5em;
                    text-align: left;
                    * {
                        vertical-align: middle;
                    }
                    line-height: 56px;
                    padding: 5px;
                    background: $color-background;
                    border: 1px solid black;
                    border-radius: 5px;
                }

                .winning-hands-page__section__description {
                    @extend %font--l;
                    color: $color-accent-dark;
                    padding: 0;
                }

                .winning-hands-page__section__score {
                    @extend %font--xl;
                    color: $color-accent-dark;
                    text-align: right;
                    margin-bottom: 0;
                }
            }
        }
    }
</style>
<script lang="ts">
    import Vue from "vue";

    import {Component} from "vue-property-decorator";

    import Language from "@/assets/i18n/Language";
    import MahjongTiles from "@/views/calculator/widget/MahjongTiles.vue";
    import MahjongTile from "@/views/calculator/widget/MahjongTile.vue";

    @Component({
        components: {MahjongTile, MahjongTiles}
    })
    export default class WinningHands extends Vue {
        language: Language = Language.getInstance();
    }
</script>