// Font scheme for the app
%font-normal {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-decoration: none;
}

%font--l {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

%font--xl {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

%font--xl-plus {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
%font--xxl {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}