// CSS attributes common to all pages
@import 'colors';
@import 'fonts';

%page-common {
  overflow-y: scroll;
  padding: 15px;

  h2 {
    @extend %font--xl-plus;
    color: $color-dark;
    line-height: 28px;
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 1px solid $color-dark;
  }
}